main{
    flex-grow: 1;
}
.container-main-sections{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-books{
    width: 80vw;
	margin: 0.625em 0;
    position: relative;
}
.name-section{
    padding: 0.8em;
    text-align: center;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    color: white;
    background-color: var(--color-2);
}
.products-section{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.container-book{
    width: 11.25rem;
    height: 18.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDF2F4;
    padding: 0.625rem;
    border-radius: 0.625rem;
    position: relative;
    margin: 0.625rem;
}

.container-book:hover{
    box-shadow: 0rem 0rem 0.3125rem 0rem rgba(0,0,0,0.75);
    cursor: pointer;
}
.container-book img{
    width: 100%;
}
.book-datails{
    padding: 0.625rem;
}


/* css del precio del producto */
.price-book{
    padding: 0.125rem 0;
}
.price-book-number{
    font-weight: 700;
    font-size: 1.25rem;
    color: red;
    text-align: right;
}
/* css del curso del libro */
.curse-book{
    font-size: 0.650rem;
    position: absolute;
    bottom: 0.625rem;
    left: 0.625rem;
    color: #7d7c83;
}
.curse-book-text{
    font-weight: 700;
}
/* css del codigo del producto */
.code-book{
    font-size: 0.650rem;
    position: absolute;
    bottom: 0.625rem;
    right: 0.625rem;
    color: #7d7c83;
}
.code-book-number{
    font-weight: 600;
}

/* seccion de productos random */
.section-random-products{
    width: 80vw;
    overflow-x: scroll;
    margin: 0.625rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-random-products::-webkit-scrollbar{
    width: 0.75rem;
    height: 0.75rem;
}
.section-random-products::-webkit-scrollbar-track{
    background-color: #EDF2F4;
    border-radius: 0.625rem;
}
.section-random-products::-webkit-scrollbar-thumb{
    border-radius: 0.625rem;
    background-color: #2B2D42;
}